@model List<WorkshopACCICore.Models.Mahasiswa>
@{
    ViewData["Title"] = "DataMahasiswa";
}

<h2>DataMahasiswa</h2>
<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered">
            <tr>
                <th>Nim</th>
                <th>Name</th>
                <th>Action</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Nim</td>
                    <td>@item.Name</td>
                    <td><a href="@Url.Action("Details", new { id = item.Nim })">Detail</a></td>
                </tr>
            }
        </table> 
    </div>
</div>

